<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didoumi.www.data.dao.MenuDao" >

    <resultMap id="menuMap" type="com.didoumi.www.data.entity.Menu">
        <id property="id" column="firstId"/>
        <result property="menuId" column="firstMenuId"/>
        <result property="parentMenuId" column="firstParentMenuId"/>
        <result property="menuName" column="firstMenuName"/>
        <result property="type" column="firstType"/>
        <collection property="nextMenu" ofType="com.didoumi.www.data.entity.Menu">
            <id property="id" column="secondId"/>
            <result property="menuId" column="secondMenuId"/>
            <result property="parentMenuId" column="secondParentMenuId"/>
            <result property="menuName" column="secondMenuName"/>
            <result property="type" column="secondType"/>
            <collection property="nextMenu" ofType="com.didoumi.www.data.entity.Menu">
                <id property="id" column="thirdId"/>
                <result property="menuId" column="thirdMenuId"/>
                <result property="parentMenuId" column="thirdParentMenuId"/>
                <result property="menuName" column="thirdMenuName"/>
                <result property="type" column="thirdType"/>
            </collection>
        </collection>
    </resultMap>

    <!--动态加载左侧菜单栏数据-->
    <select id="findMenuByUser" resultMap="menuMap" parameterType="String">
        SELECT  m1.id as firstId,m1.menuId as firstMenuId,m1.parentMenuId as firstParentMenuId,m1.menuName as firstMenuName,m1.type as firstType,
                m2.id as secondId,m2.menuId as secondMenuId,m2.parentMenuId as secondParentMenuId,m2.menuName as secondMenuName,m2.type as secondType,
                m3.id as thirdId,m3.menuId as thirdMenuId,m3.parentMenuId as thirdParentMenuId,m3.menuName as thirdMenuName,m3.type as thirdType
        FROM menu m1
        LEFT JOIN menu m2 ON m1.id = m2.parentMenuId
        LEFT JOIN menu m3 ON m1.id = m2.parentMenuId AND m2.id = m3.parentMenuId
        WHERE m1.parentMenuId=0 and m1.userId=#{uid} order by m1.createTime desc,m2.createTime desc,m3.createTime
    </select>

    <!--动态加载select下拉框-->
    <select id="selectMenuByMenu" resultType="com.didoumi.www.data.entity.Menu" parameterType="com.didoumi.www.data.entity.Menu">
        select id, menuId, menuName
        from menu
        where
            userId=#{userId}
            and parentMenuId=#{parentMenuId}
            and type=1
            order by createTime desc
    </select>

    <!--新增左边菜单栏的目录-->
    <insert id="insertMenu" parameterType="com.didoumi.www.data.entity.Menu">
        insert into
          menu(
            id,
            menuId,
            parentMenuId,
            menuName,
            type,
            userId,
            createUser,
            updateUser,
            createTime,
            updateTime)
        value
          (#{id},
              #{menuId},
              #{parentMenuId},
              #{menuName},
              #{type},
              #{userId},
              #{createUser},
              #{updateUser},
              #{createTime,jdbcType=DATE},
              #{updateTime,jdbcType=DATE})
    </insert>
</mapper>